body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #77949d;
    color: #14436b;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#texts{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
}

#button span {
    position: relative;
    z-index: 1;
}

#button::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
}

#button:hover::before {
    opacity: 0.7;
}

#button::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
}

#button:hover:after {
    opacity: 1;
}

#count {
    font-size: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
#text {
    font-size: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.snake {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: lightblue;
}

#field2{
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.board_canvas {
    background-color: lightblue;
}